
		 /* Initialize the page */

			*{
			  margin: 0;
			  padding: 0;
			  box-sizing: border-box;
			  font-family: cursive;

			}
			/* ------------------------- */

		  /*  background the page*/
			body{
			  background: #56baed;

			}
			/* ------------------------ */

		 /*  Box card */
			.box{
			  max-width: 380px;
		    width: 100%;
			  height: 430px;
			  background: #fff;
				padding-top: 59px;
				padding-bottom: 59px;
				padding-right: 45px;
				padding-left: 45px;
			  margin: 120px 570px;
			  border-radius: 20px;
				animation: moving 2s 1 linear;
			  box-shadow: 0 7px 4px #777;
			}
			/* ------------------------- */

		  /* Font properties */
		    p {
			  margin-bottom: 20px;
			  text-align: center;
			  font-size: 26px;
			  font-weight: bold;
			  color: #56baed;
			}
			/* ----------------------- */

		 /* form-input */
			  .form-input{
			  position: relative;
			  margin-bottom: 10px;
			}

			  input{
			  width: 100%;
			  padding: 10px;
			  padding-left: 29px;
			  border: none;
			  background: #eee;

			}

			i{
			 position: absolute;
			 top: 10px;
			 left: 10px;
			 font-size: 14px;
		 }

			/* ------------------------ */

		  /* Transmitter button */
			 .submit{

			  margin: 20px auto 0;
			  background: #56baed;
			  padding: 12px;
			  border-radius: 25px;
				 color: #fff;
				 font-size: 20px;
			}

		 .submit:hover{
			background-color: #39ace7;
			color: #000;
			transition: 0.7s ease;
			}

		 /* ----------------------- */

		 /*  Picture above the box */
			img{
				width: 100px;
				height: 100px;
				border-radius: 50%;
				position: absolute;
				top: -50px;
			  margin-top: 120px;
				margin-left: 100px;
		/* ------------------------- */
			}

		/* Animation */
			@keyframes moving {

				0%{
					top: 120px;
					left:50px;
					background-color: #39ace7;
				}

				100%{

					top: 120px;
					left:570px;

				}
			}

			/* --------------------- */
