/* Initialize the page */

*{
 margin: 0px;
 padding: 0px;
 font-family: cursive;
}
/* ------------------- */

/* body */

body{
 background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/background.jpg);
 background-repeat: no-repeat;
 height: 1470px;
 animation:fadeIn 4s ;
}
/* ------------------------ */

/* Nav head */
ul{
 float: left;
 list-style-type: none;
 margin-top: 50px;
 margin-bottom: 50px;
 margin-right: 60px;
 margin-left: 60px;
}
ul li{
 display: inline-block;

}
ul li a{
 text-decoration: none;
 color:white;
 border-radius: 20px;
 padding: 4px 20px;
 transition: 0.5s ease;
}
ul li a:hover{
 background-color: white;
 color: #000;
}
#home{
 background-color: white;
 color: #000;
}

/* --------------------- */

/* Welcome message */
section{
 position: absolute;
 transform: translate(-50% , -50%);
 top: 50%;
 left: 50%;
 color: white;
 font-size: 30px;
}
/* ------------------------- */
#p{
 font-size: 20px;
}

/* Nav About */
footer{
 position: absolute;
 transform: translate(-50% , -50%);
 top: 150%;
 left: 50%;
 color: white;
 font-size: 20px;
 animation:fadeIn 4s ;
}
h3{
 margin-top:20px;
 margin-bottom: 20px;
 padding: 5px;
}
h2,p{
 animation: text 3s 1;
}
footer a{
 text-decoration: none;
 color:white;
 border: 1px solid #fff;
 border-radius: 20px;
 padding: 4px 20px;
 transition: 0.5s ease;
 padding: 4px 20px;
}
footer a:hover{
 background-color: white;
 color: #000;
}
/* ------------------------ */

/* Animation */
@keyframes text {

 0%{
   color:black;
   margin-bottom: -10px;
 }
 30%{
   letter-spacing: 0.5px;
   margin-bottom: -10px;
 }
 85%{
   letter-spacing: 0.5px;
   margin-bottom: -10px;
 }

}

 @keyframes fadeIn {
 from {
   opacity: 0;
 }
 to {
   opacity: 1;
 }
}
/* -------------------- */
